<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tow Column Layout - 两列布局</title>
    <style>
        #left, #right {
            color: #ffffff;
            height: 300px;
        }

        #left {
            width: 400px;
            background: #a8d8ea;
        }

        #right {
            background-color: #ffffd2;
        }
    </style>
    <style>

    </style>
</head>
<body>
<div id="left">

</div>
<div id="right">

</div>
</body>
</html>