<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contour Layout - 等高布局</title>
</head>
<style>
    #parent {
        background-color: #6c7b95;
    }

    #left {
        width: 300px;
        background-color: #8bbabb;
    }

    #right {
        width: 300px;
        background-color: #c7f0db;
    }
</style>
<body>
<div id="parent">
    <div id="left"></div>
    <div id="right"></div>
</div>
</body>
</html>